{% extends "base.html" %}

{% block content_header %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'modeleditor/modeleditor.css'%}">
{% endblock %}

{% block content %}

<div class="starter-template">
  <div id="datasetselector">
    <form class="datasetselectorform">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
    {% for dataset in datasets %}
    <div class="dataset">
      <span class="glyphicon glyphicon-{{ dataset.icon }}"></span>
      {{ dataset.name }}
    </div>
    {% endfor %}
  </div>
  <div id="modelcontainer"></div>
</div>
  
{% endblock %}

{% block content_footer %}
<script src="{% static 'modeleditor/modeleditor.js'%}"></script>
{% endblock %}
