{% extends "base.html" %}

{% block content_header %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'modeleditor/modeleditor.css'%}">
{% endblock %}

{% block content %}

<div class="starter-template">
  <div id="datasetselector">
    <form class="datasetselectorform">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
    <div id="datasetselectorlist">
      {% for dataset in datasets %}
      <div class="dataset" icon="{{ dataset.icon }}">
	<img src="{% static 'glyphicons/' %}{{ dataset.icon }}">
	{{ dataset.name }}
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="modelcontainer"></div>
</div>
  
{% endblock %}

{% block content_footer %}
<script src="{% static 'modeleditor/modeleditor.js'%}"></script>
<script>
  $("#datasetselectorlist").hide();
  $("#datasetselectorlist").slideDown(750);
  $("#datasetselector").draggable();
  $(".dataset").draggable({helper:'clone'});  
  $("#modelcontainer").droppable({
    accept: ".dataset",
    drop: function(event,ui){
      node = {id: ++lastNodeId, reflexive: false};
      node.x = event.pageX-$("#modelcontainer>svg")[0].offsetLeft;
      node.y = event.pageY-$("#modelcontainer>svg")[0].offsetTop-$(".starter-template")[0].offsetTop;
      node.icon = ui.draggable.attr("icon");
      nodes.push(node);
      restart();
    }
  });

</script>
{% endblock %}
