.background {
  fill: none;
  pointer-events: all;
}

.active {
  fill: orange;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.slider.slider-horizontal {
    padding-left: 50px !important;
}