body {
  padding-top: 130px;
}

.starter-template {
  padding: 25px 15px;
  text-align: center;
  position: relative;
}

.navbar-inverse {
  background-color: #00AEEF;
  border-color: #00AEEF;
  box-shadow: 0px 5px 5px #888;

}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #00AEEF;
}

.navbar-inverse .navbar-nav > li > a {
  color: #3F4450;
}

.navbar-inverse .navbar-brand {
  color: #3F4450;
}

.navbar-inverse .logo {
  height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
}

.navbar-nav {
  position: absolute;
  left: 125px;
  bottom: 0px;
}

#datasetselector {
  position: relaive;
  width: 350px;
  background-color: #3F4450;
  padding: 12px;
  box-shadow: 5px 5px 5px #888;
  border-radius: 5px;
}

.datasetselectorform {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.datasetselectorform .form-control {
  background-color: #3F4450;
  border-radius: 30px;
  color: #FFFFFF;
}

.dataset {
  color: #FFFFFF;
  padding: 10px;
  text-align: left;
  width: 330px;
  background-color: #3F4450;
  z-index: 1000;
}

.dataset img {
  padding-right: 20px;
  -webkit-filter: invert(100%); 
}

#modelcontainer {
  border: 5px;
  border-style: solid;
  border-color: #3F4450;
  border-radius: 5px;
}

#mapcontainer {
  border: 5px;
  border-style: solid;
  border-color: #3F4450;
  border-radius: 5px;
}

.dataset img {
  width: 40px;
}

path.link {
  stroke: #3F4450 !important;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }