{% extends "base.html" %}

{% block content_header %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'map/map.css'%}">
{% endblock %}

{% block content %}

<div class="starter-template">
  <div class="row">
    <div class="col-md-3">
      <div class="">
	</br>
	<img src="{% static 'glyphicons/robbery.svg' %}" style="width: 150px;"/></br></br><strong>Crime:</strong> Robbery</br>
	</br>
	</br>
      </div>
      <div id="controls" class="alert alert-info"></br></br>
	Number of police officers</br>
	<img src="{% static 'glyphicons/glyphicons_257_sheriffs_star.png' %}{{ dataset.icon }}">
        <input type="text" id="slider1" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-20" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide"></br></br>
	Number of surveillance cameras</br>
	<img src="{% static 'glyphicons/glyphicons_366_security_camera.png' %}{{ dataset.icon }}">
<input type="text" id="slider2" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-20" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide"></br></br>
        Number of police stations</br>
	<img src="{% static 'glyphicons/glyphicons_089_building.png' %}{{ dataset.icon }}">
        <input type="text" id="slider3" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-20" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide"></br></br></br>
      </div>
    </div>
    <div class="col-md-6">
      <div id="mapcontainer"></div>
    </div>
    <div class="col-md-3">
      <div id="stats">
	</br></br>
	<img src="{% static 'noun_project_4298.svg' %}" style="
    width: 200px;
    height: 200px;"/>
	</br>
	</br>
	</br>
      </div>
      <div class="alert alert-info alert-dismissable">
        <strong>Instructions</strong> Click on one of the precinct and adjust the ammount of resources in it using the controls on the left. Archetype will then infer the impact of your changes automatically.
      </div>
      <div class="alert alert-warning alert-dismissable">
        <strong>Disclaimer!</strong> This is simply a mockup. It won't perform inference so the map will NOT change.
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content_footer %}
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="{% static 'map/map.js'%}"></script>
<script>
$('#slider1').slider();
$('#slider2').slider();
$('#slider3').slider();
</script>
{% endblock %}
